<div class="row">
  <div class="col-xs-12">
    <% if @feed_items %>
    <h3 class="brand">フォローしているユーザーの投稿</h3>
    <table class="table table-striped">
      <tr>
        <th>ユーザー</th>
        <th>タイトル</th>
        <th>詳細へ</th>
      </tr>
      <% @feed_items.each do |f| %>
      <tr>
        <td><%= link_to f.user.name, f.user %></td>
        <td><%= f.title %></td>
        <td><%= link_to '本文へ', f %></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <h2>気になるユーザーをフォローして記事をチェック！</h2>
    <% end %>
  </div>
</div>

<hr>
<div class="col-sx-12">
<%= link_to '記事を投稿する', new_article_path, class: 'btn btn-success btn-large' %>
</div>
<hr>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <h4 class="brand">最新記事</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @articles.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <h4 class="brand">HOT 5</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @rankings.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">ブンデスリーガ</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @germany.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">プレミアリーグ</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @england.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">リーガエスパニョル</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @spain.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">セリエA</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @italy.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">Jリーグ</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @japan.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">日本代表</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <% @national.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= a.topic %></td>
          <td><%= a.title %></td>
          <td><%= link_to '本文へ', a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>