<!-- ここから中央 -->
  <h4 class="title">投稿しよう！</h4>
  <%= link_to '記事を投稿する', new_article_path, class: 'btn' %>

  <div class="row">
    <div class="hidden-xs">
      <% if @feed_items %>
        <h4 class="brand">フォローしているユーザーの投稿</h4>
      <table class="table table-striped">
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @feed_items.each do |f| %>
        <tr>
          <td><%= link_to f.user.name, f.user %></td>
          <td><%= link_to f.title, f %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
        <h4>気になるユーザーをフォローして記事をチェック！</h4>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <table class="table table-striped">
        <h4 class="brand">ブンデスリーガ</h4>
          <tr>
            <th>ユーザー</th>
            <th>タイトル</th>
          </tr>
          <% @germany.each do |a| %>
          <tr>
            <td><%= link_to a.user.name, a.user %></td>
            <td><%= link_to a.title, a %></td>
          </tr>
          <% end %>
      </table>
    </div>

    <div class="col-sm-12 col-lg-6">
      <table class="table table-striped">
        <h4 class="brand">プレミアリーグ</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @england.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">リーガエスパニョル</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @spain.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">セリエA</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @italy.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">Jリーグ</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @japan.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">日本代表</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @national.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>
<!-- ここまで中央 -->