<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<div class="row">
  <div class="col-xs-12">
    <% if @feed_items %>
    <h4 class="brand">フォローしているユーザーの投稿</h4>
    <table class="table table-striped">
      <tr>
        <th>ユーザー</th>
        <th>タイトル</th>
      </tr>
      <% @feed_items.each do |f| %>
      <tr>
        <td><%= link_to f.user.name, f.user %></td>
        <td><%= link_to f.title, f %></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <h2>気になるユーザーをフォローして記事をチェック！</h2>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '記事を投稿する', new_article_path, class: 'btn btn-success btn-large' %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <h4 class="brand">最新記事</h4>
        <tr>
          <th>ユーザー</th>
          <th>アバター</th>
          <th>トピック</th>
          <th>タイトル</th>
        </tr>
        <% @latestarticles.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %></td>
          <td><%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= a.topic %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <h4 class="brand">HOT 5</h4>
        <tr>
          <th>ユーザー</th>
          <th>トピック</th>
          <th>タイトル</th>
        </tr>
        <% @rankings.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= a.topic %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">ブンデスリーガ</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @germany.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">プレミアリーグ</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @england.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">リーガエスパニョル</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @spain.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">セリエA</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @italy.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">Jリーグ</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @japan.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>

  <div class="col-sm-12 col-lg-6">
    <table class="table table-striped">
      <h4 class="brand">日本代表</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @national.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
            <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>
</div>
<!--　ここからサイド -->
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  
  <a href="http://soccerlture.com" target="_blank" /><%= image_tag 'soccerlture_banner.png' %></a>

<table class="table table-striped">
  <h4 class="brand">人気記事 Popular Articles</h4>
  <tr>
    <th>ユーザー</th>
    <th>タイトル</th>
  </tr>
  <% @rankings.each do |a| %>
  <tr>
    <td>
      <%= link_to a.user.name, a.user %><br />
      <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
    <td><%= link_to a.title, a %></td>
  </tr>
  <% end %>
</table>
<table class="table table-striped">
  <h4 class="brand">最新記事 New Articles</h4>
  <tr>
    <th>ユーザー</th>
    <th>タイトル</th>
  </tr>
  <% @latestarticles.each do |a| %>
  <tr>
    <td><%= link_to a.user.name, a.user %><br />
      <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
    <td><%= link_to a.title, a %></td>
  </tr>
  <% end %>
</table>

  

</div>  
<!-- /ここまでサイド -->