<h4 class="title">新規投稿</h4>
<!--<%= render 'form' %>-->
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  
  <div class="form-group">
      <label class="control-label col-sm-3 col-lg-3">タイトル</label>
      <div class="col-sm-8 col-lg-8"><%= f.text_field :title %></div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3 col-lg-3">トピック</label>
    <div class="col-sm-8 col-lg-8">
      <%= f.select :topic, ['プレミアリーグ','ブンデスリーガ','リーガエスパニョル','セリエA','Jリーグ','南米リーグ','日本代表','代表戦','チャンピオンズリーグ','ヨーロッパリーグ','ワールドカップ','その他'], class: 'topic' %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3 col-lg-3">本文</label>
    <div class="col-sm-8 col-lg-8"><%= f.text_area :body %></div>
  </div>
  <br>
  <%= f.submit "記事を投稿する", class: "btn btn-large btn-success well-lg pull-right" %>

<% end %>