<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者：</strong>
  <%= link_to @article.user.name, @article.user %>
</p>

<p>
  <strong>タイトル：</strong>
  <%= @article.title %>
</p>

<p>
  <strong>トピック：</strong>
  <%= @article.topic %>
</p>

<p>
  <strong>本文：</strong>
  <%= @article.body %>
</p>

<div class="reputation">
  <%= simple_format @article.body %>
  <em>    
      <%= @article.user.name %>
      <%= pluralize @article.reputation_for(:votes).to_i, "vote" %>
    | <%= link_to "up", vote_article_path(@article, type: "up"), method: "post" %>
    | <%= link_to "down", vote_article_path(@article, type: "down"), method: "post" %>
  </em>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<% if signed_in? %>
  <% if @article.id == @user.id %>
  <%= link_to 'Destroy', (@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back', articles_path %>

<hr>

<% if signed_in? %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
  <%= form_for(@comment) do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => @user.id %>
    </div>

    <div class="field">
      <%= f.hidden_field :article_id, :value => current_article.id %>
    </div>
  
    <div class="form-group">
      <div class="row">
      <label class="control-label col-sm-3 col-lg-3">コメント</label>
      <div class="col-sm-8 col-lg-8"><%= f.text_area :body %></div>
      </div>
    </div>

    <%= f.submit "コメントを送信する", class: "btn btn-large well-sm pull-right" %>
   <% end %>
  </div>
</div>

<% else %>
  
  <%= link_to 'コメントするために新規登録する', signup_path %>

<% end %>

<% if @comments.any? %>
<% @comments.each do |c| %>
<%= c.body %>
<% end %>
<% end %>
