<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者：</strong>
  <%= link_to @article.user.name, @article.user %>
</p>

<p>
  <strong>タイトル：</strong>
  <%= @article.title %>
</p>

<p>
  <strong>トピック：</strong>
  <%= @article.topic %>
</p>

<p>
  <strong>本文：</strong>
  <%= simple_format(@article.body) %>
</p>

<hr>

<div class="reputation" style="text-align:right;">
  <em>    
      <!--<%= @article.user.name %>-->
      <h3 class="brand">この記事を評価しよう</h3>
      <%= pluralize @article.reputation_for(:votes).to_i, "いいね！" %>
      <%= link_to "いいね！", vote_article_path(@article, type: "up"), method: "post", class: 'btn btn-success well-lg' %>
      <%= link_to "う〜ん", vote_article_path(@article, type: "down"), method: "post", class: 'btn btn-alert well-lg' %>
  </em>
</div>

<hr>


<% if signed_in? && @article.user_id == @user.id %>
  <%= link_to '編集', edit_article_path(@article) %> |
  <%= link_to '削除', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to '戻る', articles_path %>

<hr>

<% if signed_in? %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
  <%= form_for(@comment) do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => @user.id %>
    </div>

    <div class="field">
      <%= f.hidden_field :article_id, :value => current_article.id %>
    </div>
  
    <div class="form-group">
      <div class="row">
      <label class="control-label col-sm-3 col-lg-3">コメント</label>
      <div class="col-sm-8 col-lg-8"><%= f.text_area :body %></div>
      </div>
    </div>

    <%= f.submit "コメントを送信する", class: "btn btn-large well-sm pull-right" %>
  <% end %>
  </div>
</div>

<% else %>
  
  <%= link_to 'コメントするために新規登録する', signup_path %>

<% end %>

<hr>

<% if @comments.any? %>

<h3 class="brand">コメント一覧</h3>

<hr>

<table class="table table-striped">
  <tr>
    <th>ユーザー</th>
    <th>コメント</th>
  </tr>
  <% @comments.each do |c| %>
  <tr>
    <td><%= link_to c.user.name, c.user %></td>
    <td><%= c.body %></td>
  </tr>
  <% end %>
</table>
<% end %>