
<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者：</strong>
  <%= link_to @article.user.name, @article.user %>
</p>

<p>
  <strong>タイトル：</strong>
  <%= @article.title %>
</p>

<p>
  <strong>トピック：</strong>
  <%= @article.topic %>
</p>

<p>
  <strong>本文：</strong>
  <%= @article.body %>
</p>

<div class="reputation">
  <%= simple_format @article.body %>
  <em>    
      <%= @article.user.name %>
      <%= pluralize @article.reputation_for(:votes).to_i, "vote" %>
    | <%= link_to "up", vote_article_path(@article, type: "up"), method: "post" %>
    | <%= link_to "down", vote_article_path(@article, type: "down"), method: "post" %>
  </em>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<% if signed_in? %>
  <% if @article.id == @user.id %>
  <%= link_to 'Destroy', (@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back', articles_path %>