  <aside class="col-sm-4">
    <section>
      <%= image_tag @user.avatar if @user.avatar? %>
      <h1><%= @user.name %></h1>
      <!--<span><%= link_to "view my profile", @user %></span>-->
      <span><b>投稿記事数:</b> (<%= @user.articles.count %>)</span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-sm-8">
    <h2><%= @title %></h2>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>