<h4 class="title">プロフィールページ</h4>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <% if @user.avatar? %>
      <h4>アバター画像</h4>
      
      <%= image_tag(@user.avatar, width: 170, height: 170, class: 'profile-image') if @user.avatar? %>
      <hr>
      <% else %>
      <%= image_tag 'no-image.png', width: 170, height: 170, class: 'profile-image' %>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-6">
      <h4 class="mb20">基本情報</h4>
      <table class="table table-bordered profile">
        <tr>
          <td>お名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>フォロー</td>
          <td><a href="<%= following_user_path(@user) %>">
                <strong id="following" class="stat">
                  <%= @user.followed_users.count %>
                </strong>
              </a>
          </td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td><a href="<%= followers_user_path(@user) %>">
                <strong id="followers" class="stat">
                  <%= @user.followers.count %>
                </strong>
              </a>
          </td>
        </tr>
        <tr>
          <td>いいね獲得数</td>
          <td><%= @user.reputation_for(:votes).to_i %></td>
        </tr>
      </table>
      <!--<%= render 'shared/stats' %>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'follow_form' if signed_in? %>
      <% if @user.articles.any? %>
        <h4><%= @user.name %>　さんの記事 (<%= @user.articles.count %>)</h4>
        <table class="table table-striped">
          <tr>
            <th>トピック</th>
            <th>タイトル</th>
          </tr>
          <% @articles.each do |a| %>
          <tr>
            <td><%= a.topic %></td>
            <td><%= link_to a.title, a %></td>
          </tr>
          <% end %>
        </table>
      <%= will_paginate @articles %>
      <% else %>
        <h3>まだ投稿がありません。</h3>
      <% end %>
    </div>
  </div>