<h1 class="page-header">プロフィールページ</h1>

<!-- コンテンツ -->

<div class="row">

<!-- サイドバー -->

  <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <section>
      <h4 class="brand">基本情報</h4>
      <% if @user.avatar? %>
      <p>アバター画像</p>
      <%= image_tag(@user.avatar_url) if @user.avatar? %>
      <hr>
      <% else %>
      <p>アバター画像がまだ設定されていません</p>
      <% end %>
      <table class="table table-bordered profile">
        <tr>
          <td>お名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>フォロー</td>
          <td><a href="<%= following_user_path(@user) %>">
                <strong id="following" class="stat">
                  <%= @user.followed_users.count %>
                </strong>
              </a>
          </td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td><a href="<%= followers_user_path(@user) %>">
                <strong id="followers" class="stat">
                  <%= @user.followers.count %>
                </strong>
              </a>
          </td>
        </tr>
        <tr>
          <td>いいね獲得数</td>
          <td><%= @user.reputation_for(:votes).to_i %></td>
        </tr>
      </table>
    </section>
    <!--<section>
      <%= render 'shared/stats' %>
    </section>-->
  </aside>

<!-- /サイドバー -->

<!-- メイン -->

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.articles.any? %>
      <h3>Articles (<%= @user.articles.count %>)</h3>
        <!--<%= render @articles %>-->
        <table class="table table-striped">
          <tr>
            <th>トピック</th>
            <th>タイトル</th>
            <th>詳細</th>
          </tr>
          <% @articles.each do |a| %>
          <tr>
            <td><%= a.topic %></td>
            <td><%= a.title %></td>
            <td><%= link_to '本文へ', a %></td>
          </tr>
          <% end %>
        </table>
      <%= will_paginate @articles %>
    <% else %>
      <h3>まだ投稿がありません。</h3>
    <% end %>
  </div>

<!-- /メイン -->

</div>

<!-- /コンテンツ -->
