<!-- ここからサイド(右サイド) -->
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <table class="table table-striped">
      <h4 class="brand">人気記事 Popular Articles</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @rankings.each do |a| %>
        <tr>
          <td><%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
    <table class="table table-striped">
      <h4 class="brand">最新記事 New Articles</h4>
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
        </tr>
        <% @articles.each do |a| %>
        <tr>
          <td><%= link_to a.user.name, a.user %><br />
          <%= image_tag(a.user.avatar_url, width: 75, height: 75, class: 'img-rounded') if a.user.avatar? %></td>
          <td><%= link_to a.title, a %></td>
        </tr>
        <% end %>
    </table>
  </div>
  <!-- ここまでサイド(右サイド) -->